:root {
    --primaria: #B86F6B;
    --primaria-escura: #9E5A57;
    --primaria-clara: #D9A29D;

    --fundo: #f0d7ea;
    --branco: #FFFFFF;
    --bege-claro: #F5EFEB;

    --texto: #3D3532;
    --texto-secundario: #756B67;
    --texto-claro: #9A8E89;

    --borda: #E7DDD8;
    --borda-clara: #EFE7E3;

    --sucesso: #8FAF8B;
    --aviso: #D9A56B;
    --erro: #B86F6B;
    --informacao: #9A8177;

    --icone: #A87569;
    --sombra: rgba(120, 90, 80, 0.10);

    --raio-pequeno: 6px;
    --raio-medio: 10px;
    --raio-grande: 16px;

    --sombra-card: 0 2px 10px var(--sombra);
}

body{
    background-color: var(--fundo);
    font-family: Arial, sans-serif;
    color: #eda2c4;
    width: 100%;    
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    
}
nav{

    display: flex;
    flex-direction: column; 
    width: 11%;
    gap: .5rem;
    position: relative;
    height: 100%;
    padding: 0 15px ;
}
h1{
    font-size: large;
    text-align: center;
    margin-bottom: 10px;

}
.sair{
    position: absolute;
    bottom: 10px;
    width: 50%;
}
/* menuprincipal */
.menu{

    border-radius: 5px;
    border: none;
    background-color: var(--primaria);
    padding: 12px;
    text-align: left;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    color: #5f5552;
    display: flex;
    align-items: center;
    gap: 12px;
}
/* iconis do botao */
.menu i{
    font-size: 20px;
}
/* passando o mouse em cima do botão */
.menu:hover{
    background-color:white ;
    color:#9E5A57
     
}

main{
    margin-left: 230px;
    min-height: 100vh;
}
.cabecalho{
    height: 80px;
    background-color: #B86F6B;
    border-bottom: 1px solid #eee3df;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    box-sizing: border-box;
    padding-left: 50%;
    width: 50%;

}
.cabecalho h2{
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    color: #3D3532;
}
.cabecalho p{
    margin: 5px 0 0;
    font-size: 13px;
    color: #8a7771;

}
.usoario{

}

